
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/AnaSayfa">İlaç Yönetim Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li onclick="setActive(this)"><a href="/AnaSayfa">Ana Sayfa</a></li>
            <li onclick="setActive(this)"><a href="/Satis">Satış</a></li>
            <li onclick="setActive(this)"><a href="/Ilaclar">İlaçlar</a></li>
            @if (User.IsInRole("A"))
            {
                <li  onclick="setActive(this)"><a href="/Kullanicilar/Index">Kullanıcılar</a></li>
            }
            <li><a href="/Security/Logout">Çıkış Yap</a></li>
        </ul>
    </div>
</nav>
